node_modules/
dist/
*.class
#package fiel
*.war
*.ear
#kdiff3 ignore
*.orig
 
#maven ignore
target/
 
#eclipse ihnore
.settings
.project
.classpatch
.vscode
#idea
.idea/
/idea/
*.ipr
*.iml
*.iws
#temp file
*.log
*.cache
*.diff
*.patch
*.tmp
 
#system file
.DS_Store
Thumbs.db